*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: 'Josefin Sans', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  background: no-repeat top / 100% url(../../assets/bg-desktop-dark.jpg), hsla(235, 21%, 11%, 1);
}

body.light {
  background: no-repeat top / 100% url(../../assets/bg-desktop-light.jpg), hsla(0, 0%, 98%, 1);
}
