*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: 'Josefin Sans', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

body {
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_dark {
  background: top center/ contain no-repeat url(../../assets/bg-desktop-dark.jpg), hsla(235, 21%, 11%, 1);
  transition: 0.4s;
}

.content_light {
  background: top center/ contain no-repeat url(../../assets/bg-desktop-light.jpg), hsla(0, 0%, 98%, 1);
  transition: 0.4s;
}
