main {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  margin: 3rem 0 1.5rem 0;
  padding-left: 24px;
  gap: 24px;
  border-radius: 5px;
}

.form_theme_dark {
  background-color: hsla(235, 24%, 19%, 1);
  box-shadow: 0px 35px 50px -15px hsla(0, 0%, 0%, 0.5);
}

.form_theme_light {
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 35px 50px -15px hsla(235, 19%, 80%, 0.5);
}

.form__circle {
  width: 24px;
  height: 24px;
  border: 1px solid;
  background-color: transparent;
  border-radius: 50%;
}

.form__circle_theme_dark {
  border-color: hsla(235, 14%, 26%, 1);
}

.form__circle_theme_light {
  border-color: hsla(236, 32%, 92%, 1);
}

.form__input {
  font-size: 1.125rem;
  font-weight: 400;
  border: none;
  padding: 1.25em 0;
  width: 90%;
  caret-color: hsla(220, 98%, 61%, 1);
}

.form__input:focus {
  outline: transparent;
}

.form__input_theme_dark {
  color: hsla(234, 39%, 85%, 1);
  background-color: hsla(235, 24%, 19%, 1);
}

.form__input_theme_light {
  color: hsla(235, 14%, 26%, 1);
  background-color: hsla(0, 0%, 100%, 1);
}

.form__input_theme_dark:placeholder {
  color: hsla(234, 11%, 52%, 1);
}

.form__input_theme_light:placeholder {
  color: hsla(235, 9%, 61%, 1);
}

.todo {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.todo_theme_dark {
  background-color: hsla(235, 24%, 19%, 1);
  box-shadow: 0px 35px 50px -15px hsla(0, 0%, 0%, 0.5);
}

.todo_theme_light {
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 35px 50px -15px hsla(235, 19%, 80%, 0.5);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 24px;
}

.todo-items_theme_dark {
  border-bottom: 1px solid hsla(235, 14%, 26%, 1);
}

.todo-items_theme_light {
  border-bottom: 1px solid hsla(236, 32%, 92%, 1);
}

.todo-items__checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
}

.todo-items__checkbox_theme_dark {
  background-color: hsla(235, 14%, 26%, 1);
}

.todo-items__checkbox_theme_light {
  background-color: hsla(236, 32%, 92%, 1);
}

.todo-items__checkbox:hover {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  cursor: pointer;
}

.todo-items__checkbox::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  margin: 1px;
}

.todo-items__checkbox_theme_dark::before {
  background-color: hsla(235, 24%, 19%, 1);
}

.todo-items__checkbox_theme_light::before {
  background-color: hsla(0, 0%, 100%, 1);
}

.todo-items__checkbox:checked::before {
  background: center no-repeat url('../../assets/icon-check.svg'), linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo-items__label {
  width: 90%;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 1.25em 0;
  letter-spacing: -0.25px;
  line-height: 18px;
  cursor: pointer;
  word-break: break-word;
}

.todo-items__label_theme_dark {
  color: hsla(235, 39%, 85%, 1);
}

.todo-items__label_theme_light {
  color: hsla(235, 19%, 35%, 1);
}

.todo-items__label_theme_dark.checked {
  color: hsla(233, 14%, 35%, 1);
  text-decoration-line: line-through;
}

.todo-items__label_theme_light.checked {
  color: hsla(233, 11%, 84%, 1);
  text-decoration-line: line-through;
}

.todo-items__delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s;
  width: 18px;
  height: 18px;
}

.todo-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 24px;
}

.todo-filters__items-left {
  font-size: 0.875rem;
}

.todo-filters__items-left_theme_dark {
  color: hsla(235, 16%, 42%, 1);
}

.todo-filters__items-left_theme_light {
  color: hsla(235, 9%, 61%, 1);
}

.todo-filters__status {
  display: flex;
  gap: 18px;
  margin-left: auto;
  margin-right: 50px;
}

.todo-filters__status-buttons {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
}

.todo-filters__status-buttons_theme_dark {
  color: hsla(235, 16%, 42%, 1);
}

.todo-filters__status-buttons_theme_light {
  color: hsla(235, 9%, 61%, 1);
}

.todo-filters__status-buttons_theme_dark:hover {
  color: hsla(236, 32%, 92%, 1);
}

.todo-filters__status-buttons_theme_light:hover {
  color: hsla(235, 19%, 35%, 1);
}

.todo-filters__status-buttons.active {
  color: hsla(220, 98%, 61%, 1);
}

@media (max-width: 1100px) {
  main {
    width: 65%;
  }
}

@media (max-width: 768px) {
  main {
    width: 85%;
  }

  .todo-filters__status {
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 80px;
    background-color: hsla(235, 24%, 19%, 1);
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}

@media (max-width: 375px) {
  main {
    width: 90%;
  }

  .form {
    margin: 2.5rem 0 1rem 0;
  }

  .form__circle {
    width: 20px;
    height: 20px;
  }

  .form__input {
    font-size: 0.75rem;
  }

  .todo-items {
    padding: 0 20px;
    gap: 12px;
  }

  .todo-items__checkbox {
    width: 20px;
    height: 20px;
  }

  .todo-items__label {
    font-size: 0.75rem;
  }

  .todo-filters__items-left {
    font-size: 12px;
  }
}
